---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Servicios">
	<main class="max-w-6xl mx-auto">
		<h1 class="text-3xl font-extralight  first-letter:text-5xl first-letter:font-light first-letter:underline my-10">Servicios</h1>
    <div class="grid grid-cols-3 gap-8">
      <Card image="/services/1.jpg" title="Makeup Social" description="Para cualquier evento que tengas" />
      <Card image="/services/2.jpg" title="Makeup Social" description="Para cualquier evento que tengas" />
      <Card image="/services/3.jpg" title="Makeup Social" description="Para cualquier evento que tengas" />
    </div>
	</main>
</Layout>
