---
import MenuLink from "./MenuLink.astro";

---

<header>
    <section class="bg-pale-rose w-full flex justify-center items-center py-12">
      <a href="/" class="contents">
        <img class="max-w-[300px]" src="/logo.svg" />
      </a>
    </section>

    <nav class="flex justify-center gap-8 py-4">
      <MenuLink href="/servicios">Servicios</MenuLink>
      <MenuLink href="/servicios">Cursos</MenuLink>
      <MenuLink href="/contacto">Contacto</MenuLink>
    </nav>
</header>