---
const {title} = Astro.props
---
<div class="max-w-6xl mx-auto">
  <h1 class="text-3xl font-extralight  first-letter:text-5xl first-letter:font-light first-letter:underline my-10">
    {title}
  </h1>
</div>